{% extends "base.html" %}

{% block content %}


<div class="mt-5 d-flex align-items-center justify-content-center flex-column">
    <div>
        <h2 class="title">
            Please wait while your climbing data is retrieved.
        </h2>
    </div>
    <div class="spinner-border mt-5" style="width: 15rem; height: 15rem;" role="status">
        <span class="sr-only"></span>  
    </div>
    <div>
        <p class="subtitle mt-5 ">
            This page will automatically redirect when the data is loaded.
          </p>
    </div>
</div>
<script>
    console.log("On the page")
    
    function navigate() {
        let exisitingURl = window.location.href
        exisitingURl = exisitingURl.replace('/changing_climb', '/climb');
        window.location.href = exisitingURl;
    }
    
    fetch('{{url_for('load_new_climb')}}', {
        method: 'POST',
        headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
        }
    }).then(navigate); 
</script>
{% endblock %}