{% extends "base.html" %}

{% block content %}

<h1 class="title">
    Please wait while your recent climbing data is retrieved.
</h1>
<h2 class="subtitle">
  This page will automatically redirect when the data is loaded.
</h2>
<p>{{url_for('load_new_climb')}}</p>
<script>
    console.log("On the page")
    
    function navigate() {
        let exisitingURl = window.location.href
        exisitingURl = exisitingURl.replace('/changing_climb', '/climb');
        window.location.href = exisitingURl;
    }
    
    fetch('{{url_for('load_new_climb')}}', {
        method: 'POST',
        headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
        }
    }).then(navigate); 
</script>
{% endblock %}