{% extends "base.html" %}

{% block content %}

<div class="mt-5 d-flex align-items-center justify-content-center flex-column">
    <div>
        <h2 class="title">
            Please wait while your recent climbing data is retrieved.
        </h2>
    </div>
    <div class="spinner-border mt-5" style="width: 15rem; height: 15rem;" role="status">
        <span class="sr-only"></span>  
    </div>
    <div>
        <p class="subtitle mt-5 ">
            This page will automatically redirect when the data is loaded.
          </p>
    </div>
</div>
<script>
    const data = {
        email: '{{form_data["email"]}}',
        password: '{{form_data["password"]}}',
        phone: '{{form_data["phone"]}}',
    }

    function navigate() {
        // console.log("navigate to climb")
        window.location.href = 'climb';  
    }
    function invalid_navigate() {
        // console.log("navigate to invalid")
        window.location.href = 'invalid';  
    }
    fetch('first_time_setup', {
        method: 'POST',
        headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    }).then(response => response.json()).then(data => {
        console.log(data)
        if (data.invalid){
            invalid_navigate()
        } else {
            navigate()
        }
    }) 
    
    then(navigate); 
</script>
{% endblock %}